*{
    text-decoration: none;
    font-family: "Nunito Sans", sans-serif;
    list-style: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    
}
a{
    color: #a63f6f;
}


/*---Top banner---*/

.info-envios{
    background-color: #f25ca2;
    color: white;
    display: flex;
    justify-content: center;
}

.info-envios h5 {
    font-size: 15px;
    padding-top: 8px;
}

.container-fluid {
    background-color: whitesmoke;
    padding: 20px;
}


.btn {
    color: white;
    border-color: #f25ca2;
    background-color: #f25ca2;
}

.nav-link{
    font-weight: 500;
    color: #f25ca2;
}

.nav-link:hover{
    color: #a63f6f;
}

nav .d-flex {

    width: 30%;
    margin-left: 250px;
}
